/*
 * Fix fonts that render as bold in Firefox
 */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

/*
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: light !important;
  }
}


/*!
 * Kalatheme (http://drupal.org/project/kalatheme)
 */
 // responsive images in cases that aren't place using media module-filter-tabs
 img {
   max-width: 100%;
   height: auto;
 }
 *,:after,:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
 body {
  font-family: $font-family-sans-serif;
  color:$black;
 }
 .container-fluid {
  padding-left: 0;
  padding-right: 0;
 }

.header-image {
  max-height: 300px;
  overflow: hidden;
  img {
    display: block;
    width:100%;
    height: auto;
  }
}
.hsu-header {
  background: $brand-primary;
}
.logo {
  @include rem-fallback(margin, 1.5, 0, 0);
  max-width:640px;
  img {
    max-width: 100%;
  }
}
.department-brand {
  color:$white;
  @include rem-fallback(padding-bottom, 1);
  h1 {
    color:$white;
    font-weight: 300;
    @include rem-fallback(margin, $pad, 0, 0);
  }
  p {
    text-transform: none;
  }
  a {
    color:$white;
    text-decoration: none;
    &:hover {
      color: rgba($white, .5);
    }
  }
}

.header-image {
  position: relative;
}

/* Footer Styles */

.footer-wrapper {
  background: $brand-primary;
  margin: 0 auto;
  @include rem-fallback(padding, 0, $pad);
  clear: both;
  color: $white;

  a{
    color:$gold;
    &:hover {
      color:$white;
    }
    .active {
      color: $gray !important;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
    margin-top: 0;
    padding-top: 0;
  }
  h1{
    @include rem-fallback(font-size, 2.25);
  }
  h2{
    @include rem-fallback(font-size, 1.75);
  }
  h3{
    @include rem-fallback(font-size, 1.5);
  }
  h4{
    @include rem-fallback(font-size, 1.25);
  }
  h5{
    @include rem-fallback(font-size, 1);
  }
  h6{
    @include rem-fallback(font-size, .75);
  }
  .row{
    padding-top:50px;
  }
}

/* Circle H styles */
.circleh {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 47%;
  height: 50px;
  @include rem-fallback(margin-top, -$pad-and-half);
  position: relative;
}
.circleh-color {
  fill: #25551b;
}

.brand {
  // @include rem-fallback(padding, $pad-half, $pad, 0, $pad);
  margin: 0;
}
a{
  color:$orange;
  &:hover {
    color:$black;
  }
}
h1,h2,h3,h4,h5,h6{
  a {
    text-decoration: none;
  }
}
.social {
  @include rem-fallback(margin-bottom, $pad);
  a {
    color: $light-green;
    background: $white;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    margin: .125rem .375rem .125rem 0;
    padding: .75rem;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $light-green2;
      color: $white;
    }
  }
  .fa {
    font-size: 1.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.social-right {
  text-align: left;
  @media screen and (min-width: $screen-sm-min) {
    text-align: right;
  }
}

// Some weirdness on the IPE.
.panels-ipe-portlet-marker .panels-ipe-newblock {
  box-shadow: none;
  -webkit-box-shadow: none;
  top: 25%;
}

#modal-content #panopoly-form-widget-preview {
  margin-bottom: 20px;
}

fieldset legend,
.form-control {
  box-sizing: border-box;
}

.ctools-auto-submit-full-form .form-actions .form-submit {
  margin-right: 30px;
}

// Align more links
.more-link {
  text-align: left;
}
// add z-index to place over footer. Seems to be a bootstrap issue
#module-filter-tabs {
  z-index: 3;
}

// A couple of views rules clash with Bootstrap.
#edit-options .collapsible {
  float: none;
  width: 95%;
}

#edit-options-alter-text-wrapper {
  height: auto;
  width: 95%;
}

// Taken from boilerplate
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

//modal tweaks to make it more usable
#modal-content .ctools-auto-submit-full-form fieldset {
  width:auto;
 @media screen and (min-width: $screen-lg-min) {
    width:48%;
   }
}


.view-display-id-list_of_content {
  margin: 10px 0;
  .views-row{
    margin:0 0 20px;

    .views-field-title {
      font-size: 18px;
    }
  }
}
a.btn {
  text-decoration: none;
}
