/*!
 * Kalatheme (http://drupal.org/project/kalatheme)
 */
 *,:after,:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
 body {
  font-family: $font-family-sans-serif;
  color:$black;
 }
 .container-fluid {
  padding-left: 0;
  padding-right: 0;
 }
.masthead {
  background: $brand-primary;
  margin: 0 auto;
}
.footer-wrapper {
  background: $brand-primary;
  margin: 0 auto;
  @include rem-fallback(padding, 0, $pad);
  clear: both;
  color: $white;
}

.circleh {
  background: transparent url(../img/circleh-footer.svg) no-repeat center top;
  width: 100%;
  float: left;
  height: 50px;
  @include rem-fallback(margin-top, -$pad-and-half);
  position: relative;
}
//swap out padding/marging with variables
.brand {
  @include rem-fallback(padding, $pad-half, 0, 0);
  margin: 0;
}
.hsumark {
  @include rem-fallback(padding, $pad-half, 0, $pad);
  margin: 0;
  width: 100%;
}

a{
  color:$orange;
}
.social {
  text-align: left;
   @media screen and (min-width: $screen-sm-min) {
    text-align: right;
   }
  @include rem-fallback(margin-bottom, $pad);
  @include rem-fallback(font-size , $pad/1.5);

  a {
    color:$white;
    text-decoration: none;
  }
} 

// Some weirdness on the IPE.
.panels-ipe-portlet-marker .panels-ipe-newblock {
  box-shadow: none;
  -webkit-box-shadow: none;
  top: 25%;
}

#modal-content #panopoly-form-widget-preview {
  margin-bottom: 20px;
}

fieldset legend,
.form-control {
  box-sizing: border-box;
}

.ctools-auto-submit-full-form .form-actions .form-submit {
  margin-right: 30px;
}

// Align more links
.more-link {
  text-align: left;
}
// add z-index to place over footer. Seems to be a bootstrap issue
#module-filter-tabs {
  z-index: 3;
}

// A couple of views rules clash with Bootstrap.
#edit-options .collapsible {
  float: none;
  width: 95%;
}

#edit-options-alter-text-wrapper {
  height: auto;
  width: 95%;
}

// Taken from boilerplate
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}