//Fonts
$font-family-sans-serif: 'Lato', sans-serif;
$icon-font: normal normal normal 14px/1 FontAwesome;

//Fontawesome path to font files
$fa-font-path:        "../webfonts";


//Colors
$black : #333;
$gray : #808080;
$mid-gray:#b0b0b0;
$light-gray: #f9f9f9;
$white : #fff;

//Spirit palette
$brand-primary: #25551b;
$dark-green: #0c4301;
$green2:#256918;
$light-green: #5c8021;
$light-green2: #87a625;
$gray-green: #e0e4e0;
$mint:#e8efdc;
$light-gold: #dddebc;
$gold: #efe988;
$brick: #933621;
$dark-brick:#5e2417;
$orange:#b65300;
$dark-orange:#984907;
$brown: #543e2a;


//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;
