//Fonts
$sans: 'Lato', sans-serif;

//Colors
$black : #333;
$gray : #808080;
$mid-gray:#b0b0b0;
$light-gray: #f9f9f9;
$white : #fff;

//Spirit palette
$dark-green: #0c4301;
$green: #25551b;
$green2:#256918;
$light-green: #5c8021;
$light-green2: #87a625;
$gray-green: #e0e4e0;
$mint:#e8efdc;
$light-gold: #dddebc;
$gold: #efe988;
$brick: #933621;
$dark-brick:#5e2417;
$orange:#b65300;
$dark-orange:#984907;

$brown: #543e2a;