.hsu-header-links li a:focus,
.hsu-header-links li a:hover {
  background: #00856a;
}
@media screen and (min-width: 43.75em) {
  .hsu-header-links > ul > li {
    border-left: 1px solid #004c46;
  }
}
.hsu-header-links .hsu-header-az-index ul li a:focus,
.hsu-header-links .hsu-header-az-index ul li a:hover {
  background: #00856a;
}
.hsu-header-mast, .hsu-header-links > ul > li > a  {
  background: #FFF;
  color: #004c46;
}
.hsu-header-links,
.hsu-header-links .dropdown-menu {
  line-height: 2rem;
  /* border-bottom: 1px solid #FFF; */
  font-size: 13px;
}

.hsu-header-mark p svg {
  max-width: 175px;
  padding: 10px 0 10px 20px;
}
@media screen and (min-width: 43.75em) {
  .hsu-header-links > ul > li > a {
    padding: 1rem 0.25rem;
  }
}
.hsu-header-mast {
  border-bottom: 1px solid #004c46;
  padding: 0;
}
@media screen and (min-width: 43.75em) {
  .hsu-header-mark p svg {
    max-width: 100%;
    width: 175px;
    padding: 15px 0 10px;
  }
}

.hsu-header-links .hsu-header-az-index ul {
  background: #CDDAD5;
}

.quicklinks-heading {
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
  font-weight: 700;
  background: #CDDAD5;
  padding: 0.15rem 0.5rem 0;
  color: #004c46;
}

/* vertically align poppins */
.hsu-header-links li a,
.hsu-header-links .dropdown-menu a {
  padding: 0.15rem 0.5rem 0;

}
/*line 74 start End 93/94*/
.hsu-header-links > ul ul.active,
.open > ul.dropdown-menu {
    max-height: 150em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    position:relative;
}
@media screen and (min-width: 43.75em) {
    .open > ul.dropdown-menu {
        position:absolute;
    }
}
.dropdown-backdrop {
    display: none;
}
/* .dropdown-menu > li > a:hover {

} */
.hsu-header-links .dropdown-menu > li > a {
    clear: none;
    line-height: 2rem;
    white-space: normal;
}
/* .hsu-header-links .dropdown-menu {
  font-size: 13px;
} */
