%reset-pos {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

[data-ride=carousel] {
  .carousel-caption {
    text-align: left;
  }
  
  .carousel-control {
    width: 5%;
  }
}


// Image full width, text over-layed.
.img-12-text-over {
  .carousel-caption {
    top: 20px;
    left: 80px;
    right: 80px;
    bottom: auto;
    
    h3 {
      a {
        font-size: 52px;
        color: #fff;
        font-weight: 700;
      }
    }
    
    p {
      font-size: 22px;
      font-weight: 700;
    }
  }
  
}

// Image half width, text to the left.
.img-6-text-left {
  .carousel-inner {
    .item {
      .carousel-caption {
        width: 47.5%;
        float: left;
        padding-top: 0;
        @extend %reset-pos;
        text-shadow: none;
        color: #333;
        
        h3 {
          margin-top: 0;
        }
      }
      
      img {
        width: 47.5%;
        float: left;
        margin-right: 5%;
      }
    }
  }
  
  .carousel-indicators {
    display: none;
  }
  
  .carousel-control-wrapper {
    padding-top: 20px;
    
    .carousel-control.left,
    .carousel-control.right {
      @extend %reset-pos;
      float: left;
      width: auto;
      background-image: none;
      opacity: 1;
      text-shadow: none;
      color: #333;
      font-size: 14px;
      border: 1px solid #dbdbdb;
      padding: 10px;
      
      span {
        @extend %reset-pos;
        font-size: 14px;
        
        &.glyphicon {
          height: 20px;
          margin-left: -5px;
        }
      }
    }
    
    .carousel-control.right {
      float: right;
      
      span.glyphicon {
        margin-right: -5px;
      }
    }
  }
}
