.ui-accordion {
  margin: 48px 0;
  color: #2a2a2a;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.44;
}

.ui-accordion .ui-accordion-header {
  margin-top: 0;
}

h4.ui-accordion-header {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
}

h4.ui-accordion-header.ui-corner-all,
h4.ui-accordion-header.ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

h4.ui-accordion-header.ui-state-default {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #e6e6e6;
  color: #909090;
}

h4.ui-accordion-header.ui-state-hover {
  color: #111;
}

h4.ui-accordion-header.ui-state-active {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 3px solid #111;
  border-left: 1px solid #e6e6e6;
  color: #111;
}

h4.ui-accordion-header.ui-state-default:last-of-type {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.ui-accordion .ui-accordion-content {
  top: 0;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 0 none;
  border-left: 1px solid #e6e6e6;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}

.ui-accordion .ui-accordion-content:last-of-type {
  border-bottom: 1px solid #e6e6e6;
}

.ui-accordion .accordion-content {
  color: #2a2a2a;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.44;
}

.ui-accordion .ui-accordion-header .ui-icon {
  left: auto;
  right: 0.5em;
}

.ui-accordion .ui-state-active .ui-icon,
.ui-accordion .ui-state-default .ui-icon,
.ui-accordion .ui-accordion .ui-state-active .ui-icon {
}

.ui-accordion .ui-icon-triangle-1-e {
  background-position: 0 0;
}

.ui-accordion .ui-icon {
  height: 20px;
  width: 20px;
}