.ui-accordion {
  margin: 48px 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.44;
}
h4.ui-accordion-header.ui-state-default {
  color: #FFF;
  font-size: 1.25rem;
  background: $brand-primary;
  padding-left: 20px;
}
h4.ui-accordion-header.ui-state-default:focus {
  outline: 2px solid #d71ef7;
}

h4.ui-accordion-header.ui-state-default:after {
  //content: "\f055"; // plus sign with circle
  content: "\f067"; // plus without circle
  font-size:20px;
  font-weight: 300;
  font-family: FontAwesome;
  position: absolute;
  right:20px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  color: #FFC72C;
  transition: transform 300ms ease-in-out;
}

h4.ui-accordion-header.ui-state-active:after {
  transform: translateY(-50%) rotate(-135deg);
  transition: transform 300ms ease-in-out;
}

.ui-accordion .accordion-content {
  color: $brand-primary;
  font-family: $font-family-sans-serif;
  font-size: .92em;
  line-height: 1.44;
}

.ui-accordion .ui-accordion-header .ui-icon {
  display:none;
}

.ui-accordion a.btn-primary {
  color: #FFF;
}
.ui-accordion a.btn-primary:hover, .ui-accordion a.btn-primary:active, .ui-accordion a.btn-primary:focus {
  color: #004c46;
  background-color: #FFF;
}
