p.button-wrap{
	@include clearfix;
	a.button{
		width:auto;
		float:left;
		@include rem-fallback(padding-right, $pad*3);
	}
}
.center{
	display:table;
	margin:0 auto;
}
a.button{
	background:$dark-green;
	border-radius: 3px;
	&:hover{
		background:darken($dark-green, 2%);
	}
	color:$white;
	@include rem-fallback(padding, $pad-half);
	text-decoration:none;
	position:relative;
	display:inline-block;
	cursor:pointer;
	width:100%;
	text-align:left;
	span{
		display: block;
		border-radius: 0 3px 3px 0;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		@include rem-fallback(width, 2);
		background:$brand-primary;
		&:before {
			position: absolute;
			color: rgba($white, .35);
			width: 0;
			height: 0;
			display: block;
			top: 30%;
			left: 25%; 
		}
	}
}
a.small{
  @include rem-fallback(font-size, .8);
  @include rem-fallback(padding, $pad-half, 3.8, $pad-half, $pad);
	span{
		@include rem-fallback(width, 2);
	}
}
a.orange {
	background:$orange;
	&:hover{
		background:darken($orange, 2%);
	}
	span{
		background:$dark-orange;		
	}
	
}
a.brick {
	background:$brick;
	&:hover{
		background:darken($brick, 2%);
	}
	span{
		background:$dark-brick;		
	}
}
a.light-green {
	background:$light-green;
	&:hover{
		background:darken($light-green, 2%);
	}
	span{
		background:$light-green2;
	}
}
a.more{
	width:auto;
	border-radius:3px;
	span{
		border-radius:0 3px 3px 0;
	}
}