//customizations to bootstrap nav

.navbar-nav {
    > li > a {
    	text-decoration: none;
      padding: 17px 15px 13px 15px;
    }
  }
.navbar-toggle {
	overflow: hidden;
	padding-left: 55px;
		.icon-bar {
			height: 3px !important;
	}
}
.menu-text {
    display: inline;
    text-transform: uppercase;
    right: 37px;
    top: 8px;
    position: absolute;
    color: $white;
    font-size: .85em;
}
// Dropdowns
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba($white, .5);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000 !important;
  background-color: #CDDAD5;
}

.navbar .dropdown-menu {
    min-width: 190px;
    > li > a {
    text-decoration: none;
    border-bottom: solid 1px $mid-gray;
    padding:9px 20px;
        &.last {
            border-bottom:0;
        }
    }
}
.navbar .nav>li>.dropdown-menu:before {
   @media (min-width: $screen-sm) {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $white;
        border-left: 7px solid transparent;
        border-bottom-color: $white;
        content: '';
    }
}
.navbar .dropdown-menu > .active > a {
    background:transparent;
    color: $navbar-default-bg;
}
.navbar .nav > .dropdown > a { /* Dropdowns in main menu */
  float: none;
}
// pane style to apply to sub-nav panes "Section Links"
.section-links {

    @extend .view-hsu-news;
    ul {
        @include rem-fallback(padding, 0);
    }
    a {
        &:before {
            font: $icon-font;
            content: "\f054  ";
        }
        .active {
            color:$black;
        }

    }

}

a.active {
        color:$black;
}

.footer-wrapper {
  ul{
    padding-left: 0;
    li{
      list-style: none;
      padding-bottom: 5px;
    }
  }
  .block-menu-block a {
    &:link {
      &:before {
        font: $icon-font;
        content: "\f054   ";
      }
    }
    &.active {
      color: $light-gray;
    }
  }

}
