// Override some panopoly news styles
.pane-hsu-news-panel-pane-1 .pane-title{
	@include rem-fallback(padding, $pad/2, 0, $pad/4, $pad*2.5);
	background: url(../img/bullet.png) no-repeat 0 $pad-quarter;
	@include rem-fallback(margin-bottom, 0);
}
.pane-hsu-events-panel-pane-1 .pane-title{
	@include rem-fallback(padding, $pad/2, 0, $pad/4, $pad*2.5);
	background: url(../img/calendar.png) no-repeat 0 $pad-quarter;
	@include rem-fallback(margin-bottom, 0);
}

.view-hsu-news, .view-hsu-events {
	ul {
		list-style-type: none;
		li{
			border-bottom: solid 1px rgba($gray, .2);
		}
		li:last-child {
			border-bottom: none;
		}
	}
}

.view-hsu-news, .view-hsu-events {
	ul {
		li {
			@include rem-fallback(margin, 0);
			@include rem-fallback(padding, $pad-half, 0, $pad-half, 2.5);
		}
	}
	a {
		text-decoration: none;
	}
	.view-footer {
		@include rem-fallback(padding-left, 2.5);
		@include rem-fallback(margin-bottom, 2.5);
	}
}

.view-hsu-events{
	// Handles Date Field Display
	span.date-display-single {
		display: block;
		font-weight: 700;
		color: #b65300;
	}

}
// Styles hsu-event nodes to make them a bit more readable
.field-name-field-hsu-event-date {
	@include rem-fallback(margin-bottom, 1);
	font-weight: 700;
}
.date-display-range {
	display: inline;
}
