// Override some panopoly news styles

.view-panopoly-news {
	ul {
		list-style-type: none;
		li {
			margin: $padding-large-horizontal 0 0 0;
			padding-left: $padding-large-horizontal*2.5;
			padding-bottom: $padding-large-horizontal*1.5;
			padding-top: $padding-large-horizontal/2;
			background: url(../img/bullet.png) no-repeat 0 $padding-large-horizontal/4;
			font-size: ceil(($font-size-base * 1.125)); //16px
			border-bottom: solid 1px rgba($gray, .2);
		}
		li:last-child {
			border-bottom: none;
		}
	}

}