.people-wrap > h2 {
	margin-top: -20px;
}
.page-people .views-row-last {
	@include clearfix;
}
.people-list {
	@include rem-fallback(margin-top, $pad);
	ul {
		padding-left: 0;
		list-style: none;
	}
	h3,h4 {
		@include rem-fallback(margin-bottom, 0);
	}
	h4 {
		@include rem-fallback(margin-top, 0);
	}
	li {
		&:before {
		 	display: inline-block;
			font: $icon-font;
			font-size: inherit;
			text-rendering: auto;
			transform: translate(0, 0);
			text-decoration:none;
		    @include rem-fallback(margin-right, .5);
		    @include rem-fallback(font-size, 1.25);
		    color: $light-green;
		}
	}
}
a.people {
	span{
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		@include rem-fallback(width, 2);
		background:$brand-primary;
		&:before {
			font: $icon-font;
			position: absolute;
			content: "\f0ac";
			width: 0;
			height: 0;
			display: block;
			top: 32%;
			left: 26%;
			@include rem-fallback(font-size, 1);
		}
	}
}
.hsu-people-detail {
	@include rem-fallback(padding, .25);
	background: $light-gray;
	border: solid 1px $light-green;
	opacity: 1;
}
a .hsu-people-detail {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
		&:hover {
			opacity: .5;
		}
}
.email {
	 &:before {
	 	content: "\f01c";
	}
}
.phone
 {
	 &:before {
	 	content: "\f095";
	}
}
.location {
	 &:before {
	 	content: "\f124";
	}
}