.people-wrap > h2 {
	margin-top: -.5rem;
	font-size: 2.125rem;
	font-weight: 400;
}
.page-people .views-row-last {
	@include clearfix;
}
.people-list {
	@include rem-fallback(margin-top, $pad);
	min-height:220px;
	h3,h4 {
		@include rem-fallback(margin-top, 0);
		@include rem-fallback(margin-bottom, 0);
	}
	h3 a {
		text-decoration: none;
		&:after {
            font: $icon-font;
            content: " \f138";
            vertical-align: middle;
        }
	}
	img {
		max-width: 100%;
		height:auto;
		@include rem-fallback(padding, .25);
		background: $light-gray;
		border: solid 1px $light-green;
		opacity: 1;
	}
}
.people-contact {
	padding-left: 0;
	list-style: none;

	li {
		&:before {
			display: inline-block;
			font: $icon-font;
			font-size: inherit;
			text-rendering: auto;
			transform: translate(0, 0);
			text-decoration:none;
			@include rem-fallback(margin-right, .5);
			@include rem-fallback(font-size, 1.25);
			color: $light-green;
		}
	}
}

a.people {
	span{
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		@include rem-fallback(width, 2);
		background:$brand-primary;
		&:before {
			font: $icon-font;
			position: absolute;
			content: "\f0ac";
			width: 0;
			height: 0;
			display: block;
			top: 32%;
			left: 26%;
			@include rem-fallback(font-size, 1);
		}
	}
}
a .hsu-people-detail {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
		&:hover {
			opacity: .5;
		}
}
.email {
	 &:before {
	 	content: "\f01c";
	}
}
.phone
 {
	 &:before {
	 	content: "\f095";
	}
}
.location {
	 &:before {
	 	content: "\f124";
	}
}

.people-alpha {
	.people-list {
		margin: 3rem;
		min-height: 0;
	}
	.views-row-first {
		margin-top: 1.5rem;
	}
	.views-row-last {
		margin-bottom: 1rem;
	}

	// alphabet group headers
	.view-content > h3 {
		color: $light-green;
		font-size: 2.5rem;
		font-weight: normal;
		margin: 1rem 0;
		position: relative;
		padding: 0 .25rem;

		&:before {
			content:'';
			border: 1px solid lighten($gray, 35%);
			margin: 0 3.75rem;
			position: absolute;
			top: 50%;
			width: calc(100% - 7.5rem);
		}
	}
}