// Override some panopoly spotlight styles

.panopoly-spotlight {
  @include rem-fallback(margin-bottom, $pad-double);
}
.panopoly-spotlight-wrapper,.pane-bundle-spotlight .panopoly-spotlight-label, .panopoly-spotlight img {
  width:100%;
  box-sizing:border-box;
  max-width: 100%;
}
// remove right margin because it positions title off screen
.pane-bundle-spotlight .panopoly-spotlight-label {
  margin-right: 0;
}
.pane-bundle-spotlight {
  .panopoly-spotlight-label {
    color: $orange;
    opacity: .80;
    a {
    text-decoration: none;
    color: $orange;
    &:after {
      font: $icon-font;
      content: " \f101";
    }
  }
    @media (min-width: $screen-sm-min){
      @include rem-fallback(padding, $pad-half);
    }
  }
}
.pane-bundle-spotlight .panopoly-spotlight-wrapper {
  position: relative;
  max-width:100%;
        border-bottom: solid 1px rgba($gray, .2);
  @media (min-width: $screen-sm-min){
      position: absolute;
    }
}
// full pager

.pane-bundle-spotlight .panopoly-spotlight-buttons-wrapper li {
  background: $orange;
  color:$white;
  border: none !important;
  width: 30px;
  height:30px;
  font-family: $font-family-sans-serif;
  a {
    text-align: center;
    display: block;
    padding:3px 0;
    float:none;
  }
}

// mini pager
.pane-bundle-spotlight .panopoly-spotlight-function-buttons a {
  display: inline-block;
  font: $icon-font;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
  text-decoration:none;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-color:$white;
  background: $orange;
  border: none !important;
    &:hover {
      background: $white;
      color:$orange;
    }
}
.pane-bundle-spotlight .panopoly-spotlight-function-buttons a.panopoly-spotlight-previous {
      @include rem-fallback(padding, $pad-half, 0, $pad-half, .5);
  &:before {
    margin-bottom:$pad-half;
    content: "\f053";
    font-size:1em;
    display: inline-block;
  }
}
.pane-bundle-spotlight .panopoly-spotlight-function-buttons a.panopoly-spotlight-next {
  @include rem-fallback(padding, $pad-half, 0, $pad-half, .5);
  &:before {
    content: "\f054";
    margin-bottom:$pad-half;
    font-size:1em;
    display: inline-block;
  }
}
.pane-bundle-spotlight .panopoly-spotlight-function-buttons a.panopoly-spotlight-pause-play {
  @include rem-fallback(padding, $pad-half, 0, $pad-half, .5);
  &:before {
    content: "\f04c";
    margin-bottom:$pad-half;
    font-size:1em;
    display: inline-block;
  }
}
.pane-bundle-spotlight .panopoly-spotlight-function-buttons a.panopoly-spotlight-pause-play.paused {
    &:before {
    content: "\f04b";
    font-size:1em;
    display: inline-block;
  }
}

.panopoly-spotlight-next {
  right: 0;
}
.panopoly-spotlight-pause-play {
  left: 45%;
}

.pane-bundle-spotlight .panopoly-spotlight-label {
  line-height: 1.2;
  min-height: fit-content;
}
