// Override some panopoly spotlight styles

.panopoly-spotlight {
  margin-bottom:$padding-large-vertical*2;
}
.panopoly-spotlight-wrapper,.pane-bundle-spotlight .panopoly-spotlight-label, .panopoly-spotlight img {
  width:100%;
  box-sizing:border-box;
  max-width: 100%;
}
.pane-bundle-spotlight {
  .panopoly-spotlight-wrapper {
    @media (min-width: $screen-sm-min){
      bottom: 5%;  
    }
  }
  .panopoly-spotlight-label {
    font-weight: 300;
    opacity: .80;
    @media (min-width: $screen-sm-min){
      padding: $padding-large-horizontal $padding-large-vertical;
    }
  }
}
.ui-widget {
  font-family: $font-family-sans-serif; 
}
.pane-bundle-spotlight .panopoly-spotlight-buttons-wrapper {
  top: 50%;
  right: 0;
  width: 100%;
}
.panopoly-spotlight-previous, .panopoly-spotlight-pause-play, .panopoly-spotlight-next {
  position: absolute;
}
.panopoly-spotlight-next {
  right: 0;
}
.panopoly-spotlight-pause-play {
  left: 45%;
}
h3{
  font-size: $font-size-h4;
  text-align: center;
    @media (min-width: $screen-sm-min){
      font-size: $font-size-h3;
      text-align: left;
  }
}