//Tables

.field table {
  background-color: $table-bg;
  color: $black;
  // Was causing table border to disappear in some browsers
  // overflow: hidden;
  min-width: 300px; // adjust to your needs
  width: 100%;
  border: 1px solid $table-border-color;
  margin-bottom: 50px;

  tr {
    border: 1px solid $table-border-color;
    &:nth-child(odd) {
      background-color: $table-bg-accent;
    }
    &:hover {
      background-color: $table-bg-hover;
    }
  }

  th, td {
    padding: .5em 1em;
    border-right: 1px solid $table-border-color;
    &:last-child{
      border-right:0; 
    }
    &:first-child{
      border-left:0; 
    }
  }

  td a {
    word-break: break-all;
    word-break: break-word;
  }

  th {
    background-color: #ddd;
    border: 1px solid #ccc;
    vertical-align: text-bottom;
  }
}
